<!DOCTYPE html>
<html lang="en">
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<br/>
    <h1>SpotiCloud</h1>
    <div class="form-wrapper cf">
	    <form action="/songs" method="POST">
	        <input type="text" placeholder="Search for an artist or band here..." name="artist" required>
	        <button type="submit" class="styled-button" name="my-form" value="Submit">Search</button>
	    </form>
    </div>
    <div class="byline">
    	<p><i>Created by <a href="https://github.com/dabcoder" target="_blank">David B.</a></i></p>
    </div>
</body>
</html>