<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
<h2>Top songs on Spotify for {{ name }}</h2>
<div class="image">
	<img src="{{ img }}"> 
	<br/>
</div>
<div class="title_sp">
	<ul>
		{% for rank, title in sp_data.items() %}
			<li>#{{ rank }} - {{ title }}</li>
		{% endfor %}
	</ul>
</div>
<div class="player">
	<iframe src="https://embed.spotify.com/?uri={{ toptrack }}" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
</div>
{% if sc_data != 0 and toptrackSC != 0 %}
<h2>... and you might want to check those on SoundCloud</h2>
<div class="title_sc">
	<ul>
		{% for songTitle, scLink in sc_data.items() %}
			<li>{{ songTitle }} - [<a href="{{ scLink }}" target="sc_iframe">link</a>]</li> 
		{% endfor %}
	</ul>
	<br/>
</div>
<div class="widget">
	<iframe name="sc_iframe" width="50%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ toptrackSC }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
	<br/><br/>
</div>
{% else %}
<div>
<p><b>No data for SC</b></p>
</div>
{% endif %}
<div class="recommendations">
	Related artists: 
	{% for a in recom[:-1] %}
		<i>{{ a }},</i>
	{% endfor %}
	<i>{{ recom[-1] }}</i>
</div>
<div>
	<br/>
    <a href="/">Home page</a>
</div>
</body>
</html>